# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 